{% extends "economic/base.html" %}
{% block content %}

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <a class="btn btn-primary" href="/economic/new">New time registration</a>
                        </p>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Time registrations</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    {% if timeregistration_list %}
                                        <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Registration #</th>
                                                <th>Project</th>
                                                <th>Time</th>
                                                <th>Note</th>
                                                <th>Performed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in timeregistration_list %}
                                                <tr>
                                                    <td><a href="/timeregistration/{{ r.id }}/">{{ r.id }}</a></td>
                                                    <td>{{ r.project }}</td>
                                                    <td>{{ r.time }}</td>
                                                    <td>{{ r.note }}</td>
                                                    <td>{{ r.performed }}</td>
                                                </tr>
                                        {% endfor %}
                                            </tbody>
                                        </table>
                                        </ul>
                                    {% else %}
                                        <p>No time registrations are available.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
{% endblock content %}